body {
	font-family: 'Roboto Condensed';
	line-height: 40px;
}

main {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0.1em;
	padding-left: 0;
	font-size: 12pt;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;

}

h1 {
	padding-left: 0.3em;
	font-family: 'Kosugi Maru';
	font-size: 1.75em;
	color: black;
}

p {
	line-height: 1.5;
	font-family: 'Roboto Condensed';
}

h2 {
	text-align: center;
	font-family: 'Kosugi Maru';
	font-size: 1.75em;
	font-weight: bold;
}

h3 {
	text-align: center;
}

header {
    height: 50px;
	border: none;
	line-height: auto;
	padding: 1em;
	background-color: #000000;
}

.hamburger {
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 45px;
	color: #999;
	border: 0;
	font-size: 1.4em;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	z-index: 10;
	padding: 5px 15px 0;
}

.cross {
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #999;
	border: 0;
	font-size: 3em;
	line-height: 65px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	z-index: 10;
	padding: 7px 15px 0;
}

.menu {
	z-index: 10;
	font-weight: 700;
	width: 50%;
	background: #f1f1f1;
	position: absolute;
	top: 50px;
	right: 0;
	text-align: center;
	font-size: 12px;
}

.menu ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.menu li {
	display: block;
	border-bottom: #ddd 1px solid;
	padding: 15px 0;
}

.menu li:hover {
	display: block;
	background: #fff;
	border-bottom: #ddd 1px solid;
	padding: 15px 0;
}

.menu ul li a {
	text-decoration: none;
	color: #666;
	margin: 0;
}

.menu ul li a:hover {
	color: #666;
	text-decoration: none;
}

nav {
	background-color: #FFFFE1;
	font-weight: bold;
	text-align: center;
	font-family: 'Kosugi Maru';
}

.fixedbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navigation nav {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {}

nav a {
	text-decoration: none;
	padding: 1px;
	font-size: 1em;
	border-bottom: 1px;
	border-bottom-color: #330000;
}

nav a:link {
	color: #464646;
}

nav a:visited {
	color: #4A180E;
}

nav a:hover {
	color: #8AA858;
}

footer {
    background-color: aquamarine;
}

div {
    margin-top: 1em;
}


/* Tablet CSS code and up */


@media only screen and (min-width: 481px) {
	body {
		margin: 0px;
		padding: 0px;
		background-image: none;
	}
    header h1 {
        padding-top: 1.5em;
		text-align: center;
		font-size: 50pt;
		padding-bottom: .5em;
	}
    
    .hamburger {
		display: none;
	}
	.cross {
		display: none;
	}
    
    .navigation nav {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	nav {
		float: none;
		width: auto;
		padding: .5em;
	}
	nav li {
		display: inline-block;
	}
	nav a {
		padding-right: 2em;
	}
	main {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0.1em;
		padding-left: 0;
	}
	footer {
		margin: 0;
	}

}


/* Desktop CSS code and up */

@media only screen and (min-width: 1025px) {
	header {
		height: 400px;
		background-image: url(../images/homehero.png);
		background-size: cover;
		background-position: center center;
	}
	header h1 {
		padding-top: 2em;
		font-size: 60pt;
	}
	header h2 {
		font-size: 30pt;
		color: black;
	}
	.hamburger {
		display: none;
	}
	.cross {
		display: none;
	}
	.navigation nav {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	nav a:link {
		color: #464646;
	}
	nav a:visited {
		color: #7AA9B8;
	}
	nav a:hover {
		color: #825E80;
	}
}
